<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t(:correios_settings) %></h1>

<table data-hook="preferences">
  <% @preferences.each do |key| %>
  <tr>
    <th scope="row"><%= t(key) %>:</th>
    <td><%= Spree::CorreiosShipping::Config[key] %></td>
  </tr>
<% end %>

<p><%= link_to_with_icon 'edit', t(:edit), admin_edit_correios_settings_path %></p>

